$fluid      : 100%;
$default    : #0f0f2b;
$black      : #000000;
$white      : #ffffff;
$btnbg      : #06BEBC;
$allbutton  : #0F0F2B;
$line       : #dbdbdb;
$howworks   : #eff0f1;
$progress   : #0F0E2D;
$iconbox    : #F8F8F8;
$boxborder  : #F9F8FD;
$footerbg   : #0F0F2B;
$skillsbg   : #0f0f2b;

$size-60    : 60;
$size-50    : 50;
$size-40    : 40;
$size-36    : 36;
$size-34    : 34;
$size-32    : 32;
$size-30    : 30;
$size-28    : 28;
$size-26    : 26;
$size-24    : 24;
$size-22    : 22;
$size-20    : 20;
$size-18    : 18;
$size-16    : 16;
$size-15    : 15;
$size-14    : 14;
$size-13    : 13;
$size-12    : 12;
$size-11    : 11;